@import "../../../styles/global.scss";

.listPageContainer {
  width: 100%;
  max-width: $breakpoint-lg;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .listPageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      min-width: 200px;
      width: 20%;
      height: auto;
      margin: 24px;
    }
    .headerText {
      font-weight: $font-weight-bold;
      font-size: 20px;
    }
    input {
      border: 1px solid $color-gray;
      border-radius: 4px;
      background-color: $color-light-gray;
      padding: 8px;
      margin: 8px;
    }
  }
  .listWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .pokemonListItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-light-gray;
      width: 100%;
      border: 1px solid $color-dark-gray;
      border-radius: 4px;
      height: 150px;
      img {
        margin: auto;
      }
      span {
        margin: 12px;
      }

      margin-top: 12px;

      @media (min-width: $breakpoint-md) {
        width: 48%;
      }
      @media (min-width: $breakpoint-lg) {
        width: 32%;
      }
    }
    .pokemonListItem:hover {
      background-color: $color-gray;
    }
  }
}
